body{
    background-color: aliceblue;
    height: 66vh;           
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);

}

h1 {  
    color: rgb(3, 1, 94);
    font-family: sans-serif;
    font-style: italic;
    font-size: 50px;
 }
canvas {
    border: dashed 10px;
}